body {
    background-image: url("assets/gb_background.jpg");
    background-size: 100%;
    /* font-size: 1.5rem;
    font-family: system-ui;
    color: black; */
}





@media (min-width: 450px) {
    * {
        font-size: 1rem;
        color: beige;           /* brighter color in contrast with dark background image*/
        text-shadow:            /* using text shadow for better text readability*/
            0 0 5px black,
            0 0 15px grey,
            0 0 30px black,
            0 0 40px grey,
            0 0 80px black; 
    }

    header h1 {
        text-shadow: none;
        font-size: 2.0rem;
    }
    
    h6 {
        text-shadow: none;        
        color: black;
    }

    img.logo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        height: 150px;
        float:left;
        padding: 20px;
        border-radius: 40px;
    }
    
    img.banner {
        /* position: relative; */
        width: 100%;
        float: right;
        padding: 10px;
        border-radius: 40px;

    }

    .top_box {
        display: grid;
        /* background-color: rgba(red, green, blue, alpha); */
        grid-template-columns: auto auto;
        row-gap: 20px;
        column-gap: 0px;
        
    }

    .top_box img {
        width: 100%;
        border-radius: 10px;
        margin-right: 20px;
        
    }

}


@media (min-width: 600px) {
    * {
        font-size: 1.5rem;
        color: beige;           /* brighter color in contrast with dark background image*/
        text-shadow:            /* using text shadow for better text readability*/
            0 0 5px black,
            0 0 15px grey,
            0 0 30px black,
            0 0 40px grey,
            0 0 80px black; 
    }

    header h1 {
        text-shadow: none;
        font-size: 2.0rem;
    }

    img.logo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        height: 250px;
        float:left;
        padding: 20px;
        border-radius: 40px;
    }
    
    img.banner {
        /* position: relative; */
        width: 100%;
        height: 100%;
        float: right;
        padding: 10px;
        border-radius: 75px;

    }

    .top_box {
        display: grid;
        /* background-color: rgba(red, green, blue, alpha); */
        grid-template-columns: 30% 30% 30%;
        
    }

    .top_box img {
        /* width: 100%; */
        border-radius: 50px;
        /* margin-right: 20px; */
        
    }

}



@media (min-width: 1400px) {
    * {
        font-size: 2rem;
        color: beige;           /* brighter color in contrast with dark background image*/
        text-shadow:            /* using text shadow for better text readability*/
            0 0 5px black,
            0 0 15px grey,
            0 0 30px black,
            0 0 40px grey,
            0 0 80px black; 
        
    }

    body {
        margin: 50px;
        /* background-repeat: no-repeat; */
        
    }

    header h1 {
        text-shadow: none;
        font-size: 2.5rem;
        margin-bottom: 150px;
    }

    li {
        margin-bottom: 1rem;
    }

    img.logo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        height: 350px;
        float:left;
        padding-right: 30px;
        border-radius: 80px;
    }
    
    img.banner {
        /* position: relative; */
        width: 100%;
        height: 100%;
        float: right;
        padding: 10px;
        border-radius: 75px;
        margin-bottom: 100px;

    }

    .top_box {
        display: grid;
        /* background-color: rgba(red, green, blue, alpha); */
        grid-template-columns: 25% 25% 25% 25%;
        
    }

    .top_box img {
        /* width: 100%; */
        border-radius: 50px;
        /* margin-right: 20px; */
        
    }

}

